; QSTAT PREFS
setenv qstatold "0" ;set this to 0 if you are using qstat v2.3+, and 1 for qstat v2.2

; MEMORY PREFS
setenv runram   "1" ;if set to 0, only 120K will be consumed, but HD-access will be very noticeable

; AUTOREFRESH PREFS
setenv arefreshmap   "1" ;mapdisplay on/off in autorefresh mode (0=off, 1=on)
setenv arefreshtime "30" ;autorefresh interval in seconds

; SOUND PREFS ("OUTPUT PAULA8" can be changed as well as the wav files)
setenv startupsnd "QWBhome:sounds/startup/hello.wav OUTPUT PAULA8"
setenv connectsnd "QWBhome:sounds/connect/lastdraw.wav OUTPUT PAULA8"
setenv returnsnd  "QWBhome:sounds/return/hail.wav OUTPUT PAULA8"
setenv qstatsnd   "QWBhome:sounds/qstat/complete.wav OUTPUT PAULA8"
setenv quitsnd    "QWBHD:sounds/quit/beavis.wav OUTPUT PAULA8"
setenv alertsnd   "QWBHD:sounds/alert/alert.wav OUTPUT PAULA8"
setenv buttonsnd  "sounds/click.wav OUTPUT PAULA8"

; SERVER PREFS
setenv qwfavorites  "QWBhome:cache/quakeworld/custom/ffa" ;default serverlist for QuakeWorld
setenv qsfavorites  "QWBhome:cache/quake/crmod"           ;default serverlist for Quake
setenv snsfavorites "QWBhome:cache/sin/sin_servers"       ;default serverlist for Sin
setenv hrsfavorites "QWBhome:cache/heretic2/h2_servers"   ;default serverlist for HereticII
setenv sgsfavorites "QWBhome:cache/shogo/shogo_servers"   ;default serverlist for Shogo

; EXTERNAL PREFS (All games)
setenv stacksize "1000000" ;stack required to run your most stack hungry game executable
setenv memflush  "1"       ;performs "avail flush" before launching game (0=off 1=on)

; EXTERNAL PREFS  (Quake & Quakeworld)
setenv quakedir  "games:shoot3d/quake/"                                     ;qwcl/quake location
setenv qwcmdline "qwcl68k -cgfx -bufrecord -zone 1024 -audspeed 5500 -nojoy -nostdout"     ;qwcl cmdline
setenv qscmdline "quake -particles 1 -noserial -noipx -nocdaudio"           ;quake commandline

; EXTERNAL PREFS  (AmCheapo for QuakeWorld)
setenv amcheapo     "0"                      ;(1 is enabled, 0 is disabled)
setenv proxycmdline "amcheapo -q"            ;cmdline for amcheapo (assumes quakedir as location)
setenv proxycfg     "/id1/configs/proxy.cfg" ;proxy config location in quakedir

; EXTERNAL PREFS  (HereticII)
setenv h2dir     "games:heretic2/" ;location of yout heretic2 dir
setenv h2cmdline "heretic2"    ;heretic2 commandline

; EXTERNAL PREFS (Sin)
setenv sindir     "games:sin/" ;location of yout sin dir
setenv sincmdline "sin"    ;sin commandline

; EXTERNAL PREFS (Shogo)
setenv shogodir     "games:shogo/" ;location of yout shogo dir
setenv shogocmdline "shogo"    ;shogo commandline

