/* GENERAL */

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px 0px 0px 0px;
	/* background-color: #EEE; */
}

.copyright {
	font-size: 12px;
	color: #339;
	text-align: center;
}

.copyright a:visited,  .copyright a:active, .copyright a:hover, .copyright a
{
	color:#339;
}

.admin {
	font-size:10px;
	color: #339;
	margin-left: 5px;
}

.guestbook {
	border: 1px solid #33F;
	width: 80%;
}

.guestbook .field {
	font-weight: bold;
	width: 120px;
}

.guestbook .value {
	border: 1px solid #DDD;
}

.guestbook tr > .field{
	border: 1px solid #DDD;
}

/* TITLE */

#title {
	background-color: #0396CA;
	background-image: url(./Images/DC_Logo.jpg);
	background-repeat:no-repeat;
}

#title  h1 {
	font-family: 'Trebuchet MS', 'Lucida Grande',
	Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
	font-size: 2em;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 0.2em;
	word-spacing: 0.8em;
	color: #90BADE;
}


/* MENU */

#menu {
	font-family: 'Trebuchet MS', 'Lucida Grande',
	Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
	/* border-left: 1px solid #33F;
	border-right: 1px solid #33F; 
	border: 1px solid #33F;	*/
	font-size: 1em;
}

/* TOP MENU */

ul#topmenu, ul.submenu {
	list-style-type: none;
}

#topmenu li {
	display: inline;
}

#topmenu .parent a:hover {
/*
	color: #CCC;
	background-color: #33A;
	*/
	background-color: #80A9CD;
	border: 1px solid #006;
}

.submenu a:hover {
	border: 1px dashed #000;
}

#topmenu a {
	display: block;
	text-decoration: none;
}

.parent a {
	background-color: #90BADE;
	color: #33A;
	font-weight: bold;
	font-style: italic;
	border: 1px solid #80A9CD;
}

.submenu a {
	background-color: #EEE;
	color: #333;
	border: 1px solid #CCC;
}

/* SUB MENU */

#pagemenu li {
	display: inline;
	list-style-type: none;
}

#pagemenu a {
	background-color: #EEE;
	color: #333;
	border: 1px solid #CCC;
	display: block;
	text-decoration: none;
}

#pagemenu a:hover {
	border: 1px solid #000;
}

/* CONTENT */

div.section {
	/* border:1px solid #33F; */ 
	border-bottom: 1px dashed #CCC;
	/* background-color: #DDD; */
}

/* CONTENT HEADER */

#content h1 {
	font-size: 1.2em;
	font-style: italic;
	font-weight: normal;
	background-color: #90BADE;
	/* border-bottom: 1px solid #33F; */
	border: 1px solid #80A9CD;
}

#content h1 a {
	/* display: block; */
	width: 100%;
	text-decoration: none;
}

#content h1, #content h1 a{
	color: #33A;
}

#content h1 a:hover {
	/* color: #CCC; */
	background-color: #80A9CD;
}


/* CONTENT BODY */

#content p {
	color: #333;
}

.imgheading {
	border: 0;
}

.section h2 {
	font-weight: normal;
	font-size: 1.5em;
	color: #000;
}

.section h3 {
	font-weight: bold; 
	font-size: 1em;
	color: #57A;
}


/* POP IMAGES */

#popup {
	text-align: center;	
}

#popup .popup_title {
	font-weight: normal;
	font-size: 1.5em;
	color: #000;
}

#popup .popup_close {
	text-align: right;
	font-weight: bold;
}

/* Blog */

.blog {
	border-top: 1px solid #CCC;
	/* 
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	*/
	border-bottom: 1px dashed #CCC;	
}

.blogdate{
	color: #CCC;
	background-color: #EEE ;
}

.blogtitle {
	color: #AAA;
	background-color: #EAEAEA ;
	font-weight: bold;
}


