run <>nil: Play16 $connectsnd

IF $memflush EQ 1
avail flush >NIL:
ENDIF

cd $quakedir
echo "launching amcheapo ..."
stack 250000
run >con:200//320/100/amcheapo/auto $proxycmdline
run <>nil: pop QWBHD:quakeworld.iff "" 200
echo "launching QuakeWorld ..."
stack $stacksize

$cmdline $spectator +alias proxyautoexec "say .con $Address" +connect localhost +wait +wait +wait +wait +wait +exec $proxycfg
