[Desktop Entry]
Name=Cuyo
Icon=cuyo
Type=Application
Terminal=false
MimeType=application/x-executable
Categories=Game;BlocksGame;
Encoding=UTF-8
Comment=A tetris like game with many levels
Comment[de]=Ein Tetris-artiges Spiel mit vielen Leveln
Exec=cuyo
