IF $qwbautoref EQ 1

echo "*N ... refreshing serverinfo ..."

IF $arefreshmap EQ 1
 qstat -Ts templ/tmap $qwbgame $Address >env:currentmap
 run <>nil: pop $currentmap
ENDIF

qstat -P -R -Ts templ/sn_temp -Tp templ/pn_temp -Th templ/hn_temp $qwbgame $Address >env:cmakerfile

execute env:cmakerfile
delete env:cmakerfile >nil:

wait sec $arefreshtime
execute qwbhome:scripts/autorefresh.rc >nil:

ENDIF

