echo "cleaning up...."
delete env:battlefield >nil:
delete env:Address >nil:
delete env:Input >nil:
delete env:requester >nil:
delete env:reqfilter >nil:
delete env:qwbout >nil:
delete env:tsfilters >nil:
delete env:filters >nil:
delete env:qwbpath >nil:
delete env:cmdline >nil:
delete env:qwbgame >nil:
delete env:favorites >nil:
delete env:reqgame >nil:
delete env:qwconpath >nil:
delete env:qsconpath >nil:
delete env:qwmonitor >nil:
delete env:proxycfg >nil:
delete env:amcheapo >nil:
delete env:qscmdline >nil:
delete env:qwcmdline >nil:
delete env:quakedir >nil:
delete env:stacksize >nil:
delete env:qsfavorites >nil:
delete env:qwfavorites >nil:
delete env:buttonsnd >nil:
delete env:quitsnd >nil:
delete env:qstatsnd >nil:
delete env:returnsnd >nil:
delete env:connectsnd >nil:
delete env:startupsnd >nil:
delete env:currentmap >nil:
delete env:spectator >nil:
delete env:snsmonitor >nil:
delete env:sincmdline >nil:
delete env:snsconpath >nil:
delete env:sindir >nil:
delete env:hrsmonitor >nil:
delete env:h2cmdline >nil:
delete env:hrsconpath >nil:
delete env:h2dir >nil:
delete env:sgsmonitor >nil:
delete env:sgscmdline >nil:
delete env:sgsconpath >nil:
delete env:shogodir >nil:
delete env:userminpl >nil:
delete env:usermaxpl >nil:
delete env:usermap >nil:
delete env:usergamedir >nil:
delete env:userexgamedir >nil:
delete env:cmakerfile >nil:
delete env:cmakerfiledest >nil:
delete env:superfilter >nil:
delete env:servertype >nil:
delete env:qstatold >nil:
delete env:Input >nil:
delete env:hrsfavorites >nil:
delete env:snsfavorites >nil:
delete env:shogocmdline >nil:
delete env:sgsfavorites >nil:
delete env:qsmonitor >nil:
delete env:qwbbase >nil:
delete env:userfilter >nil:
delete env:defcachedir >nil:
delete env:optionfilter >nil:
delete env:qwbselect >nil:
delete env:qwbautoref >nil:
delete env:arefreshmap >nil:
delete env:arefreshtime >nil:
delete env:pingfltr >nil:
delete env:cachefile >nil:
delete env:pvalue >nil:
delete env:masterfilter >nil:
delete env:runram >nil:
delete env:alertsnd >nil:
delete env:sndalert >nil:
delete env:alert >nil:
delete env:memflush >nil:
delete env:proxycmdline >nil:

assign GameTracker: remove >nil:
assign QWBHD: remove >nil:
