run <>nil: Play16 $connectsnd
run <>nil: pop QWBHD:quakeworld.iff "" 200

IF $memflush EQ 1
avail flush >NIL:
ENDIF

cd $quakedir
echo "launching QuakeWorld ..."
stack $stacksize
$cmdline $spectator +connect $Address
