requestchoice TITLE "GameTracker by SuRgEoN" BODY "Change Battlefield ?" "YES" "NO" >env:battlefield

run <>nil: Play16 $buttonsnd

IF $battlefield EQ 1

requestchoice TITLE "GameTracker by SuRgEoN" BODY "Where is the Battlefield today Sire?" Quake QuakeWorld HereticII Shogo Sin >env:reqgame

run <>nil: Play16 $buttonsnd

if $reqgame eq 0
   setenv favorites $snsfavorites
   setenv qwbgame $snsmonitor
   setenv cmdline $sincmdline
   setenv qwbpath $snsconpath
   setenv defcachedir sin
endif

if $reqgame eq 1
   setenv favorites $qsfavorites
   setenv qwbgame $qsmonitor
   setenv cmdline $qscmdline
   setenv qwbpath $qsconpath
   setenv defcachedir quake
endif

if $reqgame eq 2
   setenv favorites $qwfavorites
   setenv qwbgame $qwmonitor
   setenv cmdline $qwcmdline
   setenv qwbpath $qwconpath
   setenv defcachedir quakeworld
endif

if $reqgame eq 3
   setenv favorites $hrsfavorites
   setenv qwbgame $hrsmonitor
   setenv cmdline $h2cmdline
   setenv qwbpath $hrsconpath
   setenv defcachedir heretic2
endif

if $reqgame eq 4
 if $qstatold eq 0
   setenv favorites $sgsfavorites
   setenv qwbgame $sgsmonitor
   setenv cmdline $shogocmdline
   setenv qwbpath $sgsconpath
   setenv defcachedir shogo
endif
 if $qstatold eq 1
   echo "Shogo is not supported by qstat v2.2"
   execute scripts/cleanup.rc
   cd ram:
   delete ram:GameTracker ALL >nil:
   endcli
 endif
endif

ENDIF

requestchoice TITLE "GameTracker by SuRgEoN" BODY "Choose ping limitation filter:" "None" "100" "150" "200" "300" "400" "500" >env:reqfilter

run <>nil: Play16 $buttonsnd

IF $reqfilter EQ 1
setenv pvalue "2000"
setenv pingfltr "-retry 3 -maxsim 50"
ENDIF
IF $reqfilter EQ 2
setenv pvalue "100"
setenv pingfltr "-retry 1 -interval 0.101 -maxsim 50"
ENDIF
IF $reqfilter EQ 3
setenv pvalue "150"
setenv pingfltr "-retry 1 -interval 0.150 -maxsim 50"
ENDIF
IF $reqfilter EQ 4
setenv pvalue "200"
setenv pingfltr "-retry 1 -interval 0.200 -maxsim 50"
ENDIF
IF $reqfilter EQ 5
setenv pvalue "300"
setenv pingfltr "-retry 1 -interval 0.300 -maxsim 50"
ENDIF
IF $reqfilter EQ 6
setenv pvalue "400"
setenv pingfltr "-retry 1 -interval 0.400 -maxsim 50"
ENDIF
IF $reqfilter EQ 0
setenv pvalue "500"
setenv pingfltr "-retry 1 -interval 0.500 -maxsim 50"
ENDIF

requestchoice TITLE "GameTracker by SuRgEoN" BODY "Exclude empty servers ?" " Yes " " No " >env:reqfilter

run <>nil: Play16 $buttonsnd

if $reqfilter eq 0
   setenv filters "-u"
   setenv tsfilters "filters/s_temp_no_filter"
   setenv qwbout "-R -Ts $tsfilters -Tp filters/player_temp -Th filters/header_temp -Tt filters/trailer_temp"
   execute scripts/userfilter_all.rc
endif

if $reqfilter eq 1
   setenv filters "-ne -u"
   setenv tsfilters "filters/s_temp_not_empty"
   setenv qwbout "-R -Ts $tsfilters -Tp filters/player_temp -Th filters/header_temp -Tt filters/trailer_temp"
   execute scripts/userfilter_noempty.rc
endif
