IF $qstatold EQ 0
 setenv qsmonitor  "-qs"  ;Quake
 setenv qwmonitor  "-qws" ;QuakeWorld
 setenv snsmonitor "-sns" ;Sin
 setenv hrsmonitor "-hrs" ;Heretic
 setenv sgsmonitor "-sgs" ;Shogo
ENDIF

IF $qstatold EQ 1
 setenv qsmonitor  "-default QS" ;Quake
 setenv qwmonitor  "-qws"        ;QuakeWorld
 setenv snsmonitor "-sns"        ;Sin
 setenv hrsmonitor "-q2s"        ;HereticII and QuakeII
ENDIF

setenv qwbautoref "0"       ;required for autorefresh

setenv qsconpath "scripts/quake/connect.rc" ;Normal Quake connect

setenv hrsconpath "scripts/heretic2/connect.rc" ;HereticII connect

setenv snsconpath "scripts/sin/connect.rc" ;Sin connect

setenv sgsconpath "scripts/shogo/connect.rc" ;Shogo connect

if $amcheapo eq 1
 setenv qwconpath "scripts/amcheapo/connect.rc" ;amcheapo connect
endif
if $amcheapo eq 0
 setenv qwconpath "scripts/connect.rc" ;standard QuakeWorld connect
endif

if warn
 skip end
endif

