stack 
 qstat -Ts templ/panalyzer $qwbgame $Address >env:ping1
wait sec 2 
 qstat -Ts templ/panalyzer $qwbgame $Address >env:ping2
wait sec 2 
 qstat -Ts templ/panalyzer $qwbgame $Address >env:ping3
wait sec 2 
 qstat -Ts templ/panalyzer $qwbgame $Address >env:ping4
wait sec 2 
 qstat -Ts templ/panalyzer $qwbgame $Address >env:ping5
wait sec 2 
 qstat -Ts templ/panalyzer $qwbgame $Address >env:ping6
wait sec 2 
 qstat -Ts templ/panalyzer $qwbgame $Address >env:ping7
wait sec 2 
 qstat -Ts templ/panalyzer $qwbgame $Address >env:ping8
wait sec 2 
 qstat -Ts templ/panalyzer $qwbgame $Address >env:ping9
wait sec 2 
 qstat -Ts templ/panalyzer $qwbgame $Address >env:ping10
wait sec 2 
 qstat -Ts templ/panalyzer $qwbgame $Address >env:ping11
wait sec 2 
 qstat -Ts templ/panalyzer $qwbgame $Address >env:ping12
wait sec 2 
 qstat -Ts templ/panalyzer $qwbgame $Address >env:ping13
wait sec 2 
 qstat -Ts templ/panalyzer $qwbgame $Address >env:ping14
wait sec 2 
 qstat -Ts templ/panalyzer $qwbgame $Address >env:ping15

setenv panalyzer $ping1 $ping2 $ping3 $ping4 $ping5 $ping6 $ping7 $ping8 $ping9 $ping10 $ping11 $ping12 $ping13 $ping14 $ping15

echo "low/mean/high"
panalyzer.exe $panalyzer
