IF $userfilter EQ 0

qstat -progress $pingfltr -P -R -sort gp -Ts filters/all/gamecapacity_filter -Tp filters/all/player_temp -Th filters/header_temp -Tt filters/trailer_temp -f $qwbbase >env:cmakerfile

run <>nil: Play16 $qstatsnd
ENDIF

IF $userfilter EQ 1

qstat -progress $pingfltr -P -R -sort gp -Ts filters/s_temp_no_filter -Tp filters/all/player_temp -Th filters/header_temp -Tt filters/trailer_temp -f $qwbbase >env:cmakerfile

run <>nil: Play16 $qstatsnd
ENDIF

IF $userfilter EQ 2

qstat -progress $pingfltr -P -R -sort gp -Ts filters/all/gamedir_filter -Tp filters/all/player_temp -Th filters/header_temp -Tt filters/trailer_temp -f $qwbbase >env:cmakerfile

run <>nil: Play16 $qstatsnd
ENDIF

IF $userfilter EQ 3

qstat -progress $pingfltr -P -R -sort gp -Ts filters/all/exgamedir_filter -Tp filters/all/player_temp -Th filters/header_temp -Tt filters/trailer_temp -f $qwbbase >env:cmakerfile

run <>nil: Play16 $qstatsnd
ENDIF

IF $userfilter EQ 4

qstat -progress $pingfltr -P -R -sort gp -Ts filters/all/map_filter -Tp filters/all/player_temp -Th filters/header_temp -Tt filters/trailer_temp -f $qwbbase >env:cmakerfile

run <>nil: Play16 $qstatsnd
ENDIF

IF $userfilter EQ 5

qstat -progress $pingfltr -P -R -sort gp -Ts filters/all/capacity_filter -Tp filters/all/player_temp -Th filters/header_temp -Tt filters/trailer_temp -f $qwbbase >env:cmakerfile

run <>nil: Play16 $qstatsnd
ENDIF

execute env:cmakerfile
delete env:cmakerfile >nil:

Requestchoice TITLE "GameTracker by SuRgEoN" BODY "select option" "Refresh List" "ServerQuery" "MasterQuery" "Init Filters" "Quit" >env:optionfilter

run <>nil: Play16 $buttonsnd

IF $optionfilter EQ 0
   setenv qwbautoref 0
   run <>nil: Play16 $quitsnd
   execute scripts/cleanup.rc
   cd ram:
   assign GameTracker: remove >NIL:
   delete ram:GameTracker ALL >NIL:
   endcli
ENDIF

IF $optionfilter EQ 1
   execute scripts/refresh_all.rc
ENDIF

IF $optionfilter EQ 2
delete env:cmakerfile >nil:
   execute scripts/server.rc
ENDIF
 
IF $optionfilter EQ 3
delete env:cmakerfile >nil:
   execute scripts/userfilter_all.rc
ENDIF

IF $optionfilter EQ 4
delete env:cmakerfile >nil:
   execute scripts/initfilters.rc
ENDIF
