stack 250000
run <>nil: Play16 $returnsnd

requestchoice TITLE "GameTracker by SuRgEoN" BODY "" A-Refr Refr Conn Spec Rules "SQuery" Filter "MQuery" Quit >env:Input

run <>nil: Play16 $buttonsnd

if $Input eq 1
   setenv qwbautoref 1
   echo "autorefresh enabled: updating every $arefreshtime seconds ..."
   run <nil: execute scripts/autorefresh.rc
   execute scripts/autorefresh_pop.rc
endif

if $Input eq 2
   setenv qwbautoref 0
   execute scripts/refresh.rc
endif

if $Input eq 3
   setenv qwbautoref 0
   setenv spectator "+spectator 0"
   execute $qwbpath
   cd GameTracker:
   execute scripts/return.rc
endif

if $Input eq 4
   setenv qwbautoref 0
   setenv spectator "+spectator 1"
   execute $qwbpath
   cd GameTracker:
   execute scripts/return.rc
endif

if $Input eq 5
   setenv qwbautoref 0
   qstat -R -Ts templ/rules $qwbgame $Address
   run <>nil: Play16 $qstatsnd
   execute scripts/sqoptions.rc
endif

if $Input eq 6
   setenv qwbautoref 0
   execute scripts/server.rc
endif

if $Input eq 7
   setenv qwbautoref 0
   execute scripts/initfilters.rc
endif

if $Input eq 8
   setenv qwbautoref 0
 IF $reqfilter EQ 0
   execute scripts/userfilter_all.rc
 ENDIF
 IF $reqfilter EQ 1
   execute scripts/userfilter_noempty.rc
 ENDIF
endif

if $Input eq 0
   setenv qwbautoref 0
   run <>nil: Play16 $quitsnd
   execute scripts/cleanup.rc
   cd ram:
   assign GameTracker: remove >NIL:
   delete ram:GameTracker ALL >NIL:
   endcli
endif
