if exists env:Address
   delete >nil: env:Address
endif
echo "*N[ip/hostname:port] ?"
execute scripts/getaddress.rc

echo "*N"

qstat -Ts templ/tmap $qwbgame $Address >env:currentmap
run <>nil: pop $currentmap

qstat -P -R -Ts templ/s_temp -Tp templ/p_temp -Th templ/h_temp $qwbgame $Address
run <>nil: Play16 $qstatsnd

WAIT SEC 1

requestchoice TITLE "GameTracker by SuRgEoN" BODY "" A-Refr Refr Conn Spec Rules "SQuery" Filter "MQuery" Quit >env:Input

run <>nil: Play16 $buttonsnd

if $Input eq 1

delete env:alert >nil:
REQUESTCHOICE TITLE "" BODY "Select sound alert event" "none" "players" "not full" "playername" "mapname" >env:sndalert

IF $sndalert EQ 0
   echo "type mapname to trigger alert:"
   execute scripts/agetmapname.rc
   rename env:input to env:alert
   echo "sound will be played when $alert is the current map on this server..."
ENDIF

IF $sndalert EQ 2
   echo "type minimum number of players to trigger alert:"
   execute scripts/agetminplayers.rc
   rename env:input to env:alert
   echo "sound will be played when there's a minimum  of $alert player(s) on server..."
ENDIF

IF $sndalert EQ 3
   echo "sound will be played when there is room for atleast 1 more player"
ENDIF

IF $sndalert EQ 4
   echo "type the playername to trigger alert:"
   execute scripts/agetplayername.rc
   rename env:input to env:alert
   echo "sound will be played when $alert is on this server..."
ENDIF


   setenv Input "1"
   setenv qwbautoref 1
   
   run <nil: execute scripts/autorefresh.rc
   echo "autorefresh enabled: updating every $arefreshtime seconds ..."
   execute scripts/autorefresh_pop.rc
endif

if $Input eq 2
   setenv qwbautoref 0
   execute scripts/refresh.rc
endif

if $Input eq 3
   setenv qwbautoref 0
   setenv spectator "+spectator 0"
   execute $qwbpath
   cd GameTracker:
   execute scripts/return.rc
endif

if $Input eq 4
   setenv qwbautoref 0
   setenv spectator "+spectator 1"
   execute $qwbpath
   cd GameTracker:
   execute scripts/return.rc
endif

if $Input eq 5
   setenv qwbautoref 0
   qstat -R -Ts templ/rules $qwbgame $Address
   run <>nil: Play16 $qstatsnd
   execute scripts/sqoptions.rc
endif

if $Input eq 6
   setenv qwbautoref 0
   execute scripts/server.rc
endif

if $Input eq 7
   setenv qwbautoref 0
   execute scripts/initfilters.rc
endif

if $Input eq 8
   setenv qwbautoref 0
 IF $reqfilter EQ 0
   execute scripts/userfilter_all.rc
 ENDIF
 IF $reqfilter EQ 1
   execute scripts/userfilter_noempty.rc
 ENDIF
endif

if $Input eq 0
   setenv qwbautoref 0
   run <>nil: Play16 $quitsnd
   execute scripts/cleanup.rc
   cd ram:
   assign GameTracker: remove >NIL:
   delete ram:GameTracker ALL >NIL:
   endcli
endif
