IF $panalyzing EQ 1
 qstat -Ts templ/panalyzer -qws $Address >env:ping1
wait sec $pinterval
 qstat -Ts templ/panalyzer -qws $Address >env:ping2
wait sec $pinterval 
 qstat -Ts templ/panalyzer -qws $Address >env:ping3
wait sec $pinterval 
 qstat -Ts templ/panalyzer -qws $Address >env:ping4
wait sec $pinterval 
setenv panalyzer -f $ping1 $ping2 $ping3 $ping4 $ping5 $ping6 $ping7 $ping8 $ping9 $ping10 $ping11 $ping12 $ping13 $ping14 $ping15 $ping16 $ping17 $ping18 $ping19 $ping20
panalyzer.exe $panalyzer
 qstat -Ts templ/panalyzer -qws $Address >env:ping5
wait sec $pinterval 
 qstat -Ts templ/panalyzer -qws $Address >env:ping6
wait sec $pinterval 
 qstat -Ts templ/panalyzer -qws $Address >env:ping7
wait sec $pinterval 
 qstat -Ts templ/panalyzer -qws $Address >env:ping8
wait sec $pinterval 
 qstat -Ts templ/panalyzer -qws $Address >env:ping9
wait sec $pinterval 
setenv panalyzer -f $ping1 $ping2 $ping3 $ping4 $ping5 $ping6 $ping7 $ping8 $ping9 $ping10 $ping11 $ping12 $ping13 $ping14 $ping15 $ping16 $ping17 $ping18 $ping19 $ping20
panalyzer.exe $panalyzer
 qstat -Ts templ/panalyzer -qws $Address >env:ping10
wait sec $pinterval 
 qstat -Ts templ/panalyzer -qws $Address >env:ping11
wait sec $pinterval 
 qstat -Ts templ/panalyzer -qws $Address >env:ping12
wait sec $pinterval 
 qstat -Ts templ/panalyzer -qws $Address >env:ping13
wait sec $pinterval 
 qstat -Ts templ/panalyzer -qws $Address >env:ping14
wait sec $pinterval 
setenv panalyzer -f $ping1 $ping2 $ping3 $ping4 $ping5 $ping6 $ping7 $ping8 $ping9 $ping10 $ping11 $ping12 $ping13 $ping14 $ping15 $ping16 $ping17 $ping18 $ping19 $ping20
panalyzer.exe $panalyzer
 qstat -Ts templ/panalyzer -qws $Address >env:ping15
wait sec $pinterval
 qstat -Ts templ/panalyzer -qws $Address >env:ping16
wait sec $pinterval 
 qstat -Ts templ/panalyzer -qws $Address >env:ping17
wait sec $pinterval 
 qstat -Ts templ/panalyzer -qws $Address >env:ping18
wait sec $pinterval 
 qstat -Ts templ/panalyzer -qws $Address >env:ping19
wait sec $pinterval 
setenv panalyzer -f $ping1 $ping2 $ping3 $ping4 $ping5 $ping6 $ping7 $ping8 $ping9 $ping10 $ping11 $ping12 $ping13 $ping14 $ping15 $ping16 $ping17 $ping18 $ping19 $ping20
panalyzer.exe $panalyzer
 qstat -Ts templ/panalyzer -qws $Address >env:ping20
wait sec $pinterval

  IF $panalyzing EQ 0
   delete env:ping1 >nil:
   delete env:ping2 >nil:
   delete env:ping3 >nil:
   delete env:ping4 >nil:
   delete env:ping5 >nil:
   delete env:ping6 >nil:
   delete env:ping7 >nil:
   delete env:ping8 >nil:
   delete env:ping9 >nil:
   delete env:ping10 >nil:
   delete env:ping11 >nil:
   delete env:ping12 >nil:
   delete env:ping13 >nil:
   delete env:ping14 >nil:
   delete env:ping15 >nil:
   delete env:ping16 >nil:
   delete env:ping17 >nil:
   delete env:ping18 >nil:
   delete env:ping19 >nil:
   delete env:ping20 >nil:
  ENDIF
execute gendat_loop.rc
ENDIF

