Configuration file for Slot Warriors 1997 OverFlow
Only uppercase matters

music off              No music at all
music on               Music everywhere
LEVEL:1                Between 1-20
SPEED:SLOW             Slow, medium, fast, turbo
SETUP:AVOID JOYSTICKS  Normal, avoid joysticks, avoid keyboard
GFX LOOK:FUTURE        Retro, future
GUIDE ROBOTS:ON        On, off
CATCH ROBOTS:OFF       On, off
HITS TO WIN:5          Between 1-25 (Non-standard numbers also allowed,
                                     the standard are 5,10,15,20 and 25)

