[scummvm]
filtering=false
autosave_period=0
mute=false
speech_volume=192
native_mt32=false
midi_gain=100
talkspeed=60
mt32_device=null
extrapath=Work:ScummVM/extras/
mixer_priority=1
subtitles=false
multi_midi=false
fullscreen=true
gui_browser_show_hidden=false
gui_renderer=normal
browser_lastpath=Work:Games/
lastselectedgame=worldofxeen
close_wb=true
themepath=Work:ScummVM/scummmodern/
sfx_volume=192
savepath=Work:ScummVM/saves/
music_volume=192
speech_mute=false
output_rate=11025
gm_device=auto
music_driver=auto
opl_driver=db
debuglevel=40
aspect_ratio=true
display_type=PAL
versioninfo=2.0.1
gui_theme=scummmodern
gui_language=C
enable_gs=false

[tentacle]
description=Day of the Tentacle (CD/English)
talkspeed=85
path=Work:Games/DOTT/
gameid=tentacle
language=en
gui_saveload_last_pos=4
guioptions=lang_English

[comi-demo]
dimuse_tempo=10
description=The Curse of Monkey Island (Demo/Windows)
talkspeed=85
path=Work:Games/Curse of Monkey/
gameid=comi
object_labels=true
platform=windows
guioptions=sndNoMIDI noAspect

[sq1-coco3]
description=Space Quest I: The Sarien Encounter (CoCo3/English)
mousesupport=true
originalsaveload=false
path=Work:Games/Space Quest 1/
gameid=agi
language=en
herculesfont=false
platform=coco3
commandpromptwindow=false
guioptions=sndNoSpeech gameOption1 gameOption3 gameOption4 gameOption5 lang_English

[simon2-demo]
description=Simon the Sorcerer 2 (CD Demo/DOS/English)
path=Work:Games/simon2/
gameid=simon2
language=en
platform=pc
guioptions=launchNoLoad lang_English

[dreamweb]
description=DreamWeb (DOS/English)
bright_palette=true
originalsaveload=false
path=Work:Games/dreamweb_floppu-uk-1.0/
gameid=dreamweb
language=en
platform=pc
guioptions=sndNoMIDI gameOption1 gameOption2 lang_English

[cruise]
description=Cruise for a Corpse (256 colors/DOS/English)
path=Work:Games/cruise_for_a_corpse/
gameid=cruise
language=en
platform=pc
guioptions=sndNoSpeech sndNoMIDI lang_English

[gob2-us]
description=Gobliins 2 (DOS/English (US))
path=Work:Games/Gobliins2/
gameid=gob
language=us
platform=pc
guioptions=sndNoSubs sndNoSpeech launchNoLoad lang_English (US)

[eob2]
description=Eye of the Beholder II: The Legend of Darkmoon (DOS/English)
importOrigSaves=false
hpbargraphs=true
path=Work:Games/Eye of the Beholder II/
gameid=eob2
language=en
platform=pc
guioptions=sndNoSpeech midiPCSpk midiAdLib ega vga gameOption6 lang_English

[lol-cd]
description=Lands of Lore: The Throne of Chaos (CD/DOS/English)
floating_cursors=false
monster_difficulty=1
music_mute=false
path=Work:Games/Lands of Lore - The Throne of Chaos/
sfx_mute=false
subtitles=false
gameid=lol
language=en
walkspeed=0
platform=pc
smooth_scrolling=true
speech_mute=false
guioptions=midiPCSpk midiAdLib midiMt32 midiGM vga gameOption4 gameOption5 lang_English

[sq5]
description=Space Quest V: The Next Mutation (DOS/English)
originalsaveload=false
path=Work:Games/SpaceQuest5/sq5/
prefer_digitalsfx=true
gameid=sci
native_fb01=false
language=en
platform=pc
guioptions=sndNoSpeech gameOption1 gameOption2 gameOption3 lang_English

[worldofxeen]
description=World of Xeen (DOS/English)
path=Work:Games/Might_and_Magic_4/
gameid=worldofxeen
language=en
platform=pc
guioptions=lang_English

