0                     Screenmode id, decimal only
368                   Screen width
282                   Screen height
0                     Panel on left ? -1 = True, 0 = False
-1                    Panel Buttons in use ?
0                     Automatic Combat Report Advance ?
-1                    Audio ?
-1                    Automatic MoveTo ?
4                     MoveSpeed of unit icons 1 - 4
4                     Key scroll size, must be /4
