#define WIN32_LEAN_AND_MEAN
#include <windows.h>
#include "resource.h"

#define IDC_STATIC -1

#ifndef RT_MANIFEST
#define RT_MANIFEST
#endif

1 RT_MANIFEST "bantumigl.mft"

SDL_app ICON "../icon.ico"

DIALOG_CONNECT DIALOGEX 0, 0, 174, 81
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Bantumi GL - Connect"
FONT 8, "MS Shell Dlg"
{
	GROUPBOX	"Options", IDC_STATIC, 7, 5, 160, 53
	LTEXT		"Server host:", IDC_STATIC, 14, 20, 42, 12, 0
	LTEXT		"Server port:", IDC_STATIC, 14, 38, 42, 12, 0
	EDITTEXT	DIALOG_HOST, 58, 18, 100, 12, WS_TABSTOP | ES_AUTOHSCROLL
	EDITTEXT	DIALOG_PORT, 58, 36, 100, 12, WS_TABSTOP | ES_AUTOHSCROLL
	DEFPUSHBUTTON	"&Connect", DIALOG_CONNECT_BUTTON, 62, 62, 50, 14
	PUSHBUTTON	"C&ancel", DIALOG_CANCEL, 118, 62, 50, 14
}

DIALOG_ACCEPT DIALOGEX 0, 0, 174, 63
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Bantumi GL - Host"
FONT 8, "MS Shell Dlg"
{
	GROUPBOX	"Options", IDC_STATIC, 7, 5, 160, 35
	LTEXT		"Server port:", IDC_STATIC, 14, 20, 42, 12, 0
	EDITTEXT	DIALOG_PORT, 58, 18, 100, 12, WS_TABSTOP | ES_AUTOHSCROLL
	DEFPUSHBUTTON	"&Host", DIALOG_CONNECT_BUTTON, 62, 44, 50, 14
	PUSHBUTTON	"&Cancel", DIALOG_CANCEL, 118, 44, 50, 14
}

DIALOG_TYPE DIALOGEX 0, 0, 173, 57
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Bantumi GL - Multiplayer"
FONT 8, "MS Shell Dlg"
{
	LTEXT		"Select whether you want to host the game or join a game hosted on another machine", IDC_STATIC, 46, 5, 96, 26, 0
	ICON		IDI_QUESTION, IDC_STATIC, 12, 7, 21, 19, 0
	PUSHBUTTON	"&Host", DIALOG_HOST_BUTTON, 6, 36, 50, 15
	PUSHBUTTON	"&Join", DIALOG_JOIN_BUTTON, 62, 36, 50, 15
	PUSHBUTTON	"&Cancel", DIALOG_CANCEL, 118, 36, 50, 15
}

DIALOG_CONN_TYPE DIALOGEX 0, 0, 173, 57
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Bantumi GL - Multiplayer"
FONT 8, "MS Shell Dlg"
{
	LTEXT		"Select which type of communication you want to use for the multiplayer game", IDC_STATIC, 46, 5, 96, 26, 0
	ICON		IDI_QUESTION, IDC_STATIC, 12, 7, 21, 19, 0
	PUSHBUTTON	"&TCP/IP", DIALOG_TCPIP_BUTTON, 6, 36, 50, 15
	PUSHBUTTON	"&Bluetooth", DIALOG_BLUETOOTH_BUTTON, 62, 36, 50, 15
	PUSHBUTTON	"&Cancel", DIALOG_CANCEL, 118, 36, 50, 15
}


