# 1oom configuration file
opt.data_path = "data"
opta.audio = true
opta.music = true
opta.sfx = true
opta.sfxinitpar = false
opta.music_volume = 64
opta.sfx_volume = 100
opta.audiorate = 22050
opta.audioslice_ms = 200
game.undo = true
game.yearsave = false
game.skipintro = false
# PLAYERS*100+GALAXYSIZE*10+DIFFICULTY
#  2..6, 0..3 = small..huge, 0..4 = simple..impossible
game.new_game_opts = 521
hw.fs = true
hw.winw = 640
hw.winh = 400
hw.fsw = 640
hw.fsh = 400
hw.mousespd = 100
hw.sdlmixersf = 
ui.uiscale = 2
ui.uiextra = false
# 0..146
ui.uiicon = 146
# Invert mouse wheel for sliders
ui.mwislider = false
# Invert mouse wheel for counters
ui.mwicounter = false
# Starmap scroll speed (1..10, 0 = instant)
ui.sm_scroll_speed = 3
