[scummvm]
palette_update_delay=3000
mute=false
speech_volume=192
native_mt32=false
mt32_device=null
enable_gs=false
aspect_ratio=false
talkspeed=60
gfx_mode=1x
extrapath=Work:ScummVM/extras/
gui_browser_show_hidden=false
subtitles=false
multi_midi=false
fullscreen=true
mixer_priority=1
gui_renderer=normal_16bpp
browser_lastpath=Work:Games/
lastselectedgame=tentacle
close_wb=true
themepath=Work:ScummVM/scummmodern/
sfx_volume=192
savepath=Work:ScummVM/saves/
music_volume=97
speech_mute=false
gm_device=camd
music_driver=auto
disable_dithering=false
opl_driver=auto
midi_gain=100
versioninfo=1.4.1
autosave_period=0
gui_language=C
display_type=PAL

[tentacle]
description=Day of the Tentacle (CD/English)
talkspeed=85
path=Work:Games/DOTT/
subtitles=false
gameid=tentacle
language=en
music_driver=auto
opl_driver=auto
speech_mute=false
guioptions=lang_English

[dw-cd]
description=Discworld (CD/DOS/English)
dclick_speed=10
speech_volume=192
talkspeed=58
path=Work:Games/DISCWLD/
subtitles=false
gameid=tinsel
language=en
sfx_volume=192
music_volume=192
platform=pc
guioptions=lang_English

[simon2-demo]
description=Simon the Sorcerer 2 (CD Demo/DOS/English)
path=Work:Games/simon2/
gameid=simon2
language=en
platform=pc
guioptions=launchNoLoad lang_English

[sky]
description=Beneath a Steel Sky (v0.0348 floppy)
path=Work:Games/sky/
gameid=sky
guioptions=sndNoSpeech

