 38
-A M B U S H-
Destroy the bastard
Destroy boxes
Destroy bastard !
Go ahead !
Pass forward
Destroy bastard
Pass the right way
Go forward !
Inviso walls
Destroy bastards
Pass forward
Pass forward
Destroy squares
Go forward
Destory bastards !
Try forward
Go on
Go forward
Go to door
Death tunnel !
Destroy bastard !
Go next door
Sail forward
Destroy boxes again!
Shootors
Go next door
Pass forward
Destroy bastard!
Pass
Pass
Pass shots
Go forward again
Fly forward
Pass forward
End is near !
Destroy bastard
- Destroy Zhar -
