
/* TITLE */

#title{
	margin: 0;
	padding: 0;
}

#title h1 {
	margin: 0;
	padding: 27px 0px 27px 130px;
}

/* MENU */

#menu {
	float: left;
	margin: 10px 10px 10px 8px;
	padding: 0px;
	width: 7em;
}

/* TOP MENU */

ul#topmenu {
	margin: 0;
	padding: 0;
}

#topmenu li {
	margin: 0;
	padding: 0;
}

#topmenu div.parent {
	width: 100%;
	margin: 0;
	padding: 0;
}

#topmenu ul {
	margin: 0;
	padding: 0;
	/* margin-left: 5px;
	
	padding: 3px;
	padding-left: 10px;
	*/
}

#topmenu a {
	display: block;
	padding: 2px;
	padding-left: 5px;
	margin-bottom: 1px;
}

.submenu a {
	display: block;
	padding: 50px;
}


/* SUB MENU */

#pagemenu {
	margin: 0;
	padding: 0;
}

#pagemenu a {
	margin:0;
	margin-bottom: 1px;
	padding: 2px 2px 2px 5px;
}

ul#pagemenu {
	margin-top: 10px;
}


/* CONTENT */

#content {
	margin: 10px 20px 10px 8em;
}

div.section {
	margin: 5px;
	padding-bottom: 20px;
}


/* CONTENT HEADER */

#content h1 {
	margin: 0;
	margin-bottom: 5px;
	padding-left:  0.2em;
}

#content h2 {
	letter-spacing: 1px; 
	margin-bottom: 0; 
}

/* CONTENT BODY */

#content p {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	margin: 0;
}

.section table {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	margin: 0;
}

.section p {
	margin-left: 20px;
	margin-right: 20px;
}

.section h2 {
	padding: 35px 20px 0px 20px;
	margin: 0;
}

.section h2.first {
	padding: 0px 20px 5px 20px;
	margin:0;
}

.section h3 {
	padding: 5px 0px 0px 20px;
	margin: 0;
}

.imgheading {
	margin-right: 5px;
	/* align: right; */
	text-align: left;
	float: left;
	clear: right;
	align: middle;
}

.section dl {
	padding: 10px;
}

/* POP IMAGES */

#popup {
	
}

#popup .popup_title {
	padding: 10px 0px 0px 0px;
}

#popup .popup_close {
	text-align: right;
}

/* Blog */

.blog {
	/* width: 80%; */
}

.blogdate{
	padding: 3px;
}

.blogtitle {
	padding: 3px;
}

.entry, .entry p{
	padding: 3px;
	margin-left: -15px;
}
