player1=human
player2=human
name1=human_player_1
name2=human_player_2
8ball
goldgreen
tablesize=7.000000
ai1err=0.000000
ai2err=0.100000
balldetail=h
rgaim=m
hostaddr=192.168.1.1
portnum=56341
geometry=640x480
fullscreen
freemove=on
bumpref=off
bumpwood=off
balltraces=off
gamemode=match
fresnel=off
avatar=off
tourfast=500.000000
clothtex=on
