<?xml version="1.0" encoding="iso-8859-1"?>
<config>
  <version>0.7</version>
  <map>Araignee</map>
  <teams>
    <team>alien</team>
    <team>escargot</team>
  </teams>
  <video>
    <display_wind_particles>1</display_wind_particles>
    <display_energy_character>1</display_energy_character>
    <display_name_character>1</display_name_character>
    <width>800</width>
    <height>600</height>
    <full_screen>0</full_screen>
    <max_fps>50</max_fps>
    <transparency>alpha</transparency>
  </video>
  <sound>
    <music>1</music>
    <effects>1</effects>
    <frequency>44100</frequency>
  </sound>
  <game_mode>classic</game_mode>
</config>
