// load the base configuration
exec default.cfg

// load the last saved configuration
exec config.cfg

// run a user script file if present
exec autoexec.cfg

exec frogbot.cfg

//
// stuff command line statements
//
stuffcmds

echo
echo Welcome to the Frogbot mod.
echo Make sure you use -zone 1024 in the command line.
echo
