Requestchoice TITLE "select gamedir" BODY "Select Gamedir!" default fortress painkeep ctf arena >env:rqmod

if rqmod eq 0
setenv gamedir "-game arena"
endif
if rqmod eq 1
setenv gamedir ""
endif
if rqmod eq 2
setenv gamedir "-game fortress"
endif
if rqmod eq 3
setenv gamedir "-game painkeep"
endif
if rqmod eq 4
setenv gamedir "-game ctf"
endif
if warn
skip end
endif

run <>nil: Play16 $connectsnd

IF $memflush EQ 1
avail flush >NIL:
ENDIF

cd $quakedir
echo "launching Quake ..."
stack $stacksize

$cmdline +connect $Address $gamedir
