; This file is used to set up the path-name.
; It currently sets up a 2 floppy disk, a hard-disk or a ramdisk system.
; It must lie in the directory where you start omega from
;
; There are 3 path's that are neccessary
; #SAVEPATH  - Where saved games end up
; #LIBPATH   - Where omega searches for it's library
; #LEVELPATH - Where the levels are kept temporarly
; #PIXPATH   - Where the pictures are kept
;
; Besides that you can set 2 names
; #NAME      - Your characters name
; #WIZARD    - If this is set to match NAME you are able to enter wizard-mode
;
; #DELAY     - If you are tired of ***MORE*** you can set this value with
;	       a positive amount of sekunds you want to pass before the
;	       program continues after it has written an important message or
;	       just want to clear the message area. If you set this value to
;	       0, the program gets back to it's morewait system.
;
; #OPTIONS   - Lets you define wether you want to see the pictures or not,
;	      plus let's you save the levels in ram: (There is NO check to
;	      see if memory is exceeded, because ramdisk is always filled),
;	      the scroll options switches between scrolling display or not.
;             The !picture option is important if you only got a 1meg machine,
;	      the option MUST then be off!
;	      Levels are not automatic saved in ram: you must still change
;	      the path. Default is ramdisk = FALSE, pictures = TRUE
;
; It is important that everything is written, even the ':' and '/'
;
; How long is the message pause
;
#DELAY	   = 1
;
; Names
;
#NAME      = Mjoelner
#WIZARD    = Mjoelner
;
; floppy-disk
;
;#SAVEPATH  = OmegaSave:
#LIBPATH   = Omega:OmegaLib/
;#LEVELPATH = OmegaLevels:
#PIXPATH   = Omega:Billeder/
;
; Harddisk
;
;#SAVEPATH  = Omega:OmegaSave/
;#LIBPATH   = Omega:OmegaLib/
;#LEVELPATH = Omega:Levels/
;#PIXPATH   = Omega:Billeder/
;
;
; Ramdisk
;
#SAVEPATH  = RAM:
;#LIBPATH   = RAM:
#LEVELPATH = RAM:
;#PIXPATH   = RAM:
;
; Default options
;
;#OPTIONS   = !ramdisk,pictures,!scroll
;
; Larger system options
;
#OPTIONS   = ramdisk,pictures,!scroll
;
; 1meg Amiga options
;
;#Options = !ramdisk,!pictures,!scroll
;
