;
; Game Directories
;
FONTDIR=Fonts
LEVELDIR=Levels
GRAPHICDIR=Graphics
LANGUAGEDIR=Languages
SAVEDIR=Saves
;
; Game Setup Files
;
FONT=Standard.FNT
LEVELS=Default.LEV
LANGUAGE=Deutsch.TXT
;
; Game Options
;
STARTANIM=0
GAMESOUND=1
GAMEMUSIC=1
FLASHBLOCKS=1
CLASSICPADDLE=1
ENHACEDBONUS=1
MIXLEVELS=0
;
; Music Module List
;
[MODULELIST]
Dh1:Musik/Module/mod.AndroidRupture
Dh1:Musik/Module/mod.AnotherWay
Dh1:Musik/Module/mod.Ball4
Dh1:Musik/Module/mod.BlueMonday
Dh1:Musik/Module/mod.CaptainFutureT
Dh1:Musik/Module/mod.Complications
Dh1:Musik/Module/mod.DoubleDragon2
Dh1:Musik/Module/mod.InnerPlanet
Dh1:Musik/Module/mod.IntoTheMusic
Dh1:Musik/Module/mod.ItDoesntMind
Dh1:Musik/Module/mod.Jarresque
Dh1:Musik/Module/mod.LAB9
Dh1:Musik/Module/mod.Necroscope
Dh1:Musik/Module/mod.ReggaeOnTheBlue
Dh1:Musik/Module/mod.SeaOfMemories
Dh1:Musik/Module/mod.SuperCars2_Title
Dh1:Musik/Module/mod.Turrican2
Dh1:Musik/Module/mod.Utopia2


