(qonk-config
  ; If the game's supported config file version is higher than this number the configuration is discarded.
  (configFileVersion 2)
  ; General display properties
  (screenWidth 800)
  (screenHeight 600)
  (fullscreen #f)
  ; General gameplay properties
  (planets 6)
  (enemies 1)
  (enemiesVisible #f)
  (input
    (screenshot
      (normal
        (type "keyboard")
        (key 293)
      )
    )
    (pause
      (normal
        (type "keyboard")
        (key 112)
      )
    )
    (toggleFullscreen
      (normal
        (type "keyboard")
        (key 102)
      )
    )
    (restartRound
      (normal
        (type "keyboard")
        (key 114)
      )
    )
    (nextRound
      (normal
        (type "keyboard")
        (key 110)
      )
    )
    (selectAll
      (normal
        (type "keyboard")
        (key 97)
      )
    )
    (toggleEnemyVisibility
      (normal
        (type "keyboard")
        (key 101)
      )
    )
    (selection
      (normal
        (type "keyboard")
        (key 304)
      )
      (alternate
        (type "mousebutton")
        ; 0 is left, 1 is middle, 2 is right, 3 is wheel up, 4 is wheel down
        ; other values denote auxillary buttons
        (button 1)
      )
    )
    (cursorUp
      (normal
        (type "keyboard")
        (key 273)
      )
      (alternate
        (type "mouseaxis")
        (axis 1)
        ; 0 is negative/left/up, 1 is positive/right/down
        (direction 0)
      )
    )
    (cursorDown
      (normal
        (type "keyboard")
        (key 274)
      )
      (alternate
        (type "mouseaxis")
        (axis 1)
        ; 0 is negative/left/up, 1 is positive/right/down
        (direction 1)
      )
    )
    (cursorLeft
      (normal
        (type "keyboard")
        (key 276)
      )
      (alternate
        (type "mouseaxis")
        (axis 0)
        ; 0 is negative/left/up, 1 is positive/right/down
        (direction 0)
      )
    )
    (cursorRight
      (normal
        (type "keyboard")
        (key 275)
      )
      (alternate
        (type "mouseaxis")
        (axis 0)
        ; 0 is negative/left/up, 1 is positive/right/down
        (direction 1)
      )
    )
    (selectNearestPlanet
      (normal
        (type "keyboard")
        (key 9)
      )
      (alternate
        (type "mousebutton")
        ; 0 is left, 1 is middle, 2 is right, 3 is wheel up, 4 is wheel down
        ; other values denote auxillary buttons
        (button 2)
      )
    )
    (moveToNearestPlanet
      (normal
        (type "keyboard")
        (key 306)
      )
      (alternate
        (type "mousebutton")
        ; 0 is left, 1 is middle, 2 is right, 3 is wheel up, 4 is wheel down
        ; other values denote auxillary buttons
        (button 3)
      )
    )
    (setFleetStrengthSingle
      (normal
        (type "keyboard")
        (key 115)
      )
    )
    (fleetStrengthUp
      (normal
        (type "keyboard")
        (key 43)
      )
      (alternate
        (type "mousebutton")
        ; 0 is left, 1 is middle, 2 is right, 3 is wheel up, 4 is wheel down
        ; other values denote auxillary buttons
        (button 4)
      )
    )
    (fleetStrengthDown
      (normal
        (type "keyboard")
        (key 45)
      )
      (alternate
        (type "mousebutton")
        ; 0 is left, 1 is middle, 2 is right, 3 is wheel up, 4 is wheel down
        ; other values denote auxillary buttons
        (button 5)
      )
    )
    (setFleetStrength10
      (normal
        (type "keyboard")
        (key 49)
      )
    )
    (setFleetStrength20
      (normal
        (type "keyboard")
        (key 50)
      )
    )
    (setFleetStrength30
      (normal
        (type "keyboard")
        (key 51)
      )
    )
    (setFleetStrength40
      (normal
        (type "keyboard")
        (key 52)
      )
    )
    (setFleetStrength50
      (normal
        (type "keyboard")
        (key 53)
      )
    )
    (setFleetStrength60
      (normal
        (type "keyboard")
        (key 54)
      )
    )
    (setFleetStrength70
      (normal
        (type "keyboard")
        (key 55)
      )
    )
    (setFleetStrength80
      (normal
        (type "keyboard")
        (key 56)
      )
    )
    (setFleetStrength90
      (normal
        (type "keyboard")
        (key 57)
      )
    )
    (setFleetStrength100
      (normal
        (type "keyboard")
        (key 48)
      )
    )
  )
)
